@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Login";
}

<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="login-card">

        <div class="text-center mb-4">
            <div class="login-logo text-nowrap bd-highlight">ChatsHub</div>
        </div>

        <form method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" placeholder="Enter your email" id="email" name="email" autocomplete="username" required />
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" placeholder="Enter your password" id="password" name="password" autocomplete="current-password" required />
            </div>

            <button type="submit" class="btn btn-teams w-100 btn-primary">Login</button>

            <div class="text-center mt-3">
                <a href="#" class="text-decoration-none" style="color:#5b5fc7">Can’t access your account?</a>
            </div>
        </form>
    </div>
</div>