
/* Loader Overlay */
#pageLoader {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

/* Jumping Balls */
.loader {
    display: flex;
    gap: 10px;
}

.loader span {
width: 15px;
height: 15px;
background: #0d6efd;
border-radius: 50%;
animation: jump 0.6s infinite ease-in-out;
}

.loader span:nth-child(2) {
    animation-delay: 0.1s;
}

.loader span:nth-child(3) {
    animation-delay: 0.2s;
}

@keyframes jump {
    0%, 80%, 100% {
        transform: translateY(0);
        opacity: 0.6;
    }

    40% {
        transform: translateY(-20px);
        opacity: 1;
    }
}
