body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Segoe Fluent Icons";
    background: url('../Contents/Images/Loginbg.png') no-repeat center center;
    background-size:cover;
}
.login-card {
    width: 100%;
    min-width: 500px;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}
.login-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #5b5fc7;
    font-family:'Sans Serif Collection';
}
.btn-teams {
    background-color: #6264a7;
    color: white;
}
.form-control:focus {
    border-color: #5b5fc7;
    box-shadow: 0 0 0 0.2rem rgba(91, 95, 199, 0.25);
}